* {
    padding: 0;
    margin: 0;
    
    box-sizing: border-box;
    text-decoration: none;
    font-family: system-ui;
    font-size: 14px;
}

body {
    background: rgb(243, 243, 243);
    
    justify-content: center;
    display: flex;
    
    margin: 0;
    padding: 0;
    
    width: 100%;
    min-height: 100vh;
}

.instagram-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    
    width: 55rem;
    height: 100vh;
}

.instagram-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 50%;
}

.instagram-phone img {
    height: 45rem;
    margin-top: -132px;
}

.instagram-continue {
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    display: flex;
    position: relative;

    flex-grow: 1;
    margin: -162px 0 0 -20px;
}

.group { 
    background: white;
    border: 1px solid lightgray;
    border-radius: 1px;

    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative; 

    padding: 10px 0;
    margin: 0 0 10px;
}

.group:nth-child(1) {
    min-height: 22rem; /* Talvez deletar */
}

.instagram-logo {
    height: 140px;
    width: 185px;
    margin: -15px 0 -10px;
}

.profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
    border-radius: 50%;
}

.profile-photo img {
    height: 6rem;
}

.instagram-login {
    background: #0095F8;
    color: white;
    
    padding: 8px;
    border-radius: 4px;
    margin-top: 16px;
}

.instagram-logout {
    color: rgb(0, 55, 107);
    font-size: 12px;

    margin-top: 1rem;
}

.not-account {
    color: rgb(160, 160, 160);
}

.link {
    color: #0095F8;
}

.get-the-app {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;

    /* width: 100%;
    padding: 1.3rem 0; */
}

.get-app {
    line-height: 18px;
    margin: 10px 20px;
    
    text-align: center;
}

.download {
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    position: relative;
    display: flex;
    
    /* width: 60%;
    padding: 1rem; */

    margin: 10px 0;
}

.app-download {
    margin-right: 8px;
    /* background-size: cover;

    width: 6.8rem;
    height: 2rem; */
}

.img-download {
    height: 40px;
}
/* .app-download:nth-child(1) {
    background-image: url('./images/app-store-botao.png');
}

.app-download:nth-child(2) {
    background-image: url('./images/google-play-badge.png');
} */

/* media queries */
@media (max-width: 1024px) {
    .instagram-wrapper {
        width: 90%;
    }
}

@media (max-width: 650px) {
    .instagram-wrapper {
        width: 90%;
    }

    .instagram-phone {
        display: none;
    }

    .instagram-continue {
        width: 100%;
    }

    .group {
        border: 1px solid transparent;
        background: none;
    }
    
    .group:nth-child(1) {
        margin-top: 15%;
    }

    .instagram-logout {
        margin-top: 0;
    }
}